.container {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 3%;
}

.section2 {
  overflow: hidden;
  padding-bottom: 10em;
}
.section3 {
  position: relative;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  max-height: 1000px;
  padding: 5em 0;
}
.section5 {
  position: relative;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  max-height: 1000px;
  padding: 5em 0;
}
